<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2/dist/semantic.min.css" />
    <style>
        test {
            font-family: 'Roboto', sans-serif;
            font-size: 48px;
        }
    </style>
  </head>
  <body>

    <div style="width:100%; height:100%; margin:0; padding:0;">
  		<div style="padding:10px;">
  			<div style="width: 100%;padding-right: 0;padding-left: 0;margin-right: auto;margin-left: auto;">
  				<div style="border-top-left-radius:5px; border-top-right-radius:5px; justify-content:center; flex-wrap: wrap;background-color:#212529; border: 1px solid #212529;">
	  				<div style="width:100%; padding-top: .15rem;padding-bottom: .15rem;">
	  					<h2 style="text-align:center;  color:#fff;">Glycemic Indexer</h2>
	  				</div>
	  			</div>
	  			<div style="background-color:#007bff;">
	  				<div style="width:100%; padding-top: .15rem;padding-bottom: .15rem; height:3px;">
	  				</div>
	  			</div>
	  			<div style="background-color:#ffbf00; color:#212529; font-size:1.1rem; font-weight:500;">
	  				<div>
	  					<div><h2 style="text-align:center;margin:0; margin-bottom:0.75rem;">Hoş Geldin,<p th:text=${recipientName}></p></h4></div>
	  					<div><p>Glycemic Indexer'e hoş geldiniz. Aşağıdaki bağlantıya tıklayarak hesabını aktifleştirebilirsin.</p></div>
	  					<a th:href=${activateUrl}>Buraya tıkla</a>
	  				</div>
	  			</div>
	  			<div style="background-color:#740001;">
	  				<div style="width:100%; padding-top: .15rem;padding-bottom: .15rem; height:3px;">
	  				</div>
	  			</div>
	  			<div style="border-bottom-left-radius:5px; border-bottom-right-radius:5px; background-color:#212529; border: 1px solid #212529;">
	  				<div style="width:100%; padding-top: .75rem;padding-bottom: .75rem;">
	  					<p style="text-align:center;  color:#fff;">Glycemic Indexer © 2022</p>
	  				</div>
	  			</div>
  			</div>
		</div>
	</div>
    
  </body>
</html>